body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: 'BoschSansCHS-Regular';

  --nia-color-ba04ae : #BA04AE;
  --nia-color-en0100 : #EB0100;
  --nia-fw-rg: 'BoschSansCHS-Regular';
  --nia-fw-bd: 'BoschSansCHS-Bold';
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

pre ol, pre ul{
  line-height: 14px;
  margin-bottom: 0px;
}

pre{
  margin-bottom: 8px;
  text-wrap: auto;
}

pre *{
  font-family: var(--nia-fw-rg) !important;
}


.nia-fw-rg{
  font-family: var(--nia-fw-rg);
}
.nia-fw-bd{
  font-family: var(--nia-fw-bd);
}

.w-100pr{
  width: 100%;
}
.h-100pr{
  height: 100%;
}

.w-100px{
  width: 100px;
}
.h-100px{
  height: 100px;
}

.nia-color-BA04AE{
  color: var(--nia-color-ba04ae);
}

.nia-color-EB0100{
  color: var(--nia-color-en0100);
}

.nia-cursor-pointer{
  cursor: pointer;
}


.main{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eff6ff;
}

/* NIA HEADER */

.nia-header{
  height: 60px;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  background-image: url('/images/bosch-line.png');
  background-size: 100% 8px;
  background-repeat: no-repeat;
  padding: 8px 8px 0px 8px;
  flex-shrink: 0;
}

.nia-header-container{
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1120px;
  padding-inline: 1rem;
  margin: 0px auto;
}

.nia-brand-name{
  width: 160px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: .25rem;
  line-height: 2rem;
  font-family: 'BoschSansCHS-Bold';
  font-size: 1rem;
}

.nia-brand-name img{
  height: 1.25rem;
}

.nia-brand-separator{
  height: 20px;
  width: 1px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  display: block;
}

.nia-brand-title{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-family: var(--nia-fw-bd);
}

.nia-brand-title span{
  display: none;
}

.nia-profile{
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  font-size: .65rem;
  line-height: .65rem;
  gap: .5rem;
}

.nia-profile img{
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.nia-profile span.nia-welcome-text{
  width: 132px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  white-space: nowrap;
}

.nia-profile span.nia-separator{
  height: 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  width: 1px;
}

.nia-profile .nia-logout{
  color: #EB0100;
  cursor: pointer;
}

.nia-profile .nia-logout:hover{
  text-decoration: underline;
}

/* NIA BODY */
.nia-dashboard-platform-container{
  width: 100%;
  max-width: 1024px;
  height: 320px;
  display: flex;
  gap: 2rem;
  text-align: center;
  flex-wrap: wrap;
  padding-inline: 16px;
}

.nia-dashboard-platform-card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 40px;
  backdrop-filter: blur(10px);
  overflow: hidden;
  border-radius: 1rem;
  height: 100%;
  min-width: 250px;
  flex-grow: 1;
  cursor: pointer;
}

.nia-dashboard-platform-card:hover{
  scale: 1.05;
}

.nia-platform-card-icon{
  padding: 2rem;
  background-color: rgba(239, 246, 255, 1);
  border-radius: 50%;
  margin-bottom: 2rem;
  transition: all 0.5s;
}

.nia-dashboard-platform-card:hover .nia-platform-card-icon{
  background-color: rgba(239, 246, 255, 0);
}

.nia-platform-card-icon img{
  width: 3rem;
}


@media screen and (min-width: 601px) {
  .nia-header{
    padding: 8px 32px 0px 32px;
  }

  .nia-toggleSliderbtn{
    display: none;
  }

  .nia-brand-name{
    width: 230px;
    gap: 1rem;
    font-size: 1.5rem;
  }

  .nia-brand-name img{
    height: 1.5rem;
  }

  .nia-brand-title{
    font-size: 1rem;
  }

  .nia-brand-title span{
    display: block;
  }

  .nia-profile{
    width: 230px;
    font-size: .75rem;
    line-height: .75rem;
  }

  .nia-profile img{
    width: 32px;
    height: 32px;
  }

  .nia-profile span.nia-welcome-text{
    width: 170px;
  }
}

/* NIA CONTENT */
.nia-container{
  height: 100%;
  padding-block: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.nia-content-wraper{
  width: 100%;
  max-width: 1120px;
  padding-inline: 1rem;
}

.nia-category-container{
  height: 10rem;
}

.nia-category{
  height: 10rem;
  width: 100%;
  position: relative;
}

.nia-category-list{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  padding: 10px;
}

.nia-category button{
  display: none;
}

.nia-category:hover button{
  display: flex;
}

.nia-category-list .list{
  width: 25%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 20px;
  background-color: white;
  transition: all 0.5s;
  transform: scale(1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5 ease-in-out;
  cursor: pointer;
}

.nia-category-list .list:hover{
  transform: scale(1.1);
}

.nia-category-list .list.active{
  font-family: var(--nia-fw-bd);
  pointer-events: none;
}

.nia-category-btn-left, .nia-category-btn-right{
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #646464;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  margin-top: -25px;
}

.nia-category-btn-left{
  left: 10px;
}
.nia-category-btn-right{
  right: 10px;
}

.nia-category-btn-left:hover, .nia-category-btn-right:hover{
  background-color: rgba(0,0,0,0.09);
}

.nia-category-btn-left::before, .nia-category-btn-right::before{
  content: " ";
  height: 13px;
  width: 13px;
  display: block;
  border-top: 1px solid #646464;
  border-right: 1px solid #646464;
}

.nia-category-btn-left::before{
  transform: rotate(220deg);
}
.nia-category-btn-right::before{
  transform: rotate(45deg);
}

.nia-category-image{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nia-category-image.nia-ca1{
  background-color: rgba(255, 165, 0, 0.2);
}
.nia-category-image.nia-ca2{
  background-color: rgba(255, 0, 0, 0.2);
}
.nia-category-image.nia-ca3{
  background-color: rgba(0, 128, 0, 0.2);
}
.nia-category-image.nia-ca4{
  background-color: rgba(0, 0, 255, 0.2);
}
.nia-category-image.nia-ca5{
  background-color: rgba(255, 255, 0, 0.2);
}
.nia-category-image.nia-ca6{
  background-color: rgba(128, 0, 128, 0.2);
}
.nia-category-image.nia-ca7{
  background-color: rgba(255, 192, 203, 0.2);
}

.nia-category-image img{
  height: 30px;
  width: 30px;
}


.nia-category-list .list:hover .nia-category-image.nia-ca1{
  background-color: rgba(255, 165, 0, 1);
}
.nia-category-list .list:hover .nia-category-image.nia-ca2{
  background-color: rgba(255, 0, 0, 1);
}
.nia-category-list .list:hover .nia-category-image.nia-ca3{
  background-color: rgba(0, 128, 0, 1);
}
.nia-category-list .list:hover .nia-category-image.nia-ca4{
  background-color: rgba(0, 0, 255, 1);
}
.nia-category-list .list:hover .nia-category-image.nia-ca5{
  background-color: rgba(255, 255, 0, 1);
}
.nia-category-list .list:hover .nia-category-image.nia-ca6{
  background-color: rgba(128, 0, 128, 1);
}
.nia-category-list .list:hover .nia-category-image.nia-ca7{
  background-color: rgba(255, 192, 203, 1);
}

.nia-category-list .list:hover .nia-category-image img{
  filter: brightness(0) invert(1);
}


.nia-category-content-container{
  flex-grow: 1;
  overflow-y: auto;
}

.nia-category-content{
  /* position: relative; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 1rem;
}


.nia-category-content-header{
  display: flex;
  justify-content: space-between;
  font-family: var(--nia-fw-bd);
}

.nia-category-content-chat{
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  position: relative;
  margin-bottom: 72px;
  z-index: 9;
}

.nia-right-panel-form{
  position: absolute;
  bottom: 2rem;
  left: 0px;
  right: 0px;
  min-height: 40px;
  background-color: white;
  z-index: 9999;
}

/* CHAT CONTAINER */

.nia-chat-conatiner{
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-block: 16px;
  font-size: 14px;
}

.nia-chat-form-container{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: #eff6ff;
  padding-block: 1rem;
}

.attachement-container{
  position: absolute;
  bottom: 30px;
  width: 60px;
  height: auto;
  padding: 5px;
  background-color: #007BC0;
  border-radius: 10px;
  left: 22px;
  transition: 0.5s all ease-in-out;
  z-index: 999;
}

.attachement-container::before{
  content: ' ';
  height: 1px;
  width: 1px;
  border: 10px solid transparent;
  border-top-color: #007BC0;
  border-bottom: 0px;
  position: absolute;
  bottom: -7px;
  z-index: -1;
  left: 22px;
  pointer-events: none;
}

.attachement-container img{
  width: 100%;
  border-radius: 5px;
}

.attachement-container:hover{
  transform: scale(3);
  bottom: 100px;
}

.attachement-container:hover::before{
  display: none;
}

.attachement-container .delete-file{
  display: none;
}

.attachement-container:hover .delete-file{
  display: block;
  height: 10px;
  width: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid red;
  border-radius: 5px;
  background-image: url('/images/delete.svg');
  background-repeat: no-repeat;
  background-size: 6px 6px;
  background-position: center center;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999;
  cursor: pointer;
}

.attachement-container:hover .delete-file:hover{
  background-color: #ffffff;
  
}

.nia-chat-btn{
  height: 24px;
  padding: 0px 16px;
  display: block;
  cursor: pointer;
  border: 0px;
  border-radius: 20px;
  background-color: #E0E2E5;
  color: #007BC0;
  line-height: 24px;
  font-size: 12px;
}



.nia-chat-btn:hover, .nia-chat-btn:focus{
  background-color: #007BC0;
  color: #FFFFFF;
}

.nia-chat-input-container{
  flex-grow: 1;
  width: 100%;
  max-width: 1120px;
  position: relative;
  padding-inline: 1rem;
}

.nia-chat-btn-container{
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  right: 16px;
  bottom: 4px;
  z-index: 1;
}

.nia-chat-btn-container .nia-chat-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 6px;
  background-color: unset;
  border-radius: 50%;
  overflow: hidden;
}

.nia-chat-btn-container .nia-chat-btn:hover{
  background-color: #007BC0;
}

.nia-chat-btn-container .nia-chat-btn img{
  height: 20px;
  width: 20px;
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(90%) contrast(100%);
}

.nia-chat-btn-container .nia-chat-btn:hover img{
  filter: invert(100%) sepia(28%) saturate(590%) hue-rotate(180deg) brightness(89%) contrast(84%);
}

.nia-chat-input-container label{
  background-color: white;
  position: relative;
  min-height: 40px;
  border-radius: 20px;
  padding: 0px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  z-index: 0;
  margin-top: 1rem;
}

.nia-chat-input-container.focused label{
  padding: 16px 16px;
}

.nia-input-text{
  line-height: 18px;
  padding: 0px;
  border: 0px;
  outline: none;
  background-color: transparent;
  cursor: text;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  resize: none;
}

@media screen and (min-width: 601px) {
  .nia-chat-btn{
    height: 32px;
    line-height: 32px;
    font-size: 16px;
  }

  .nia-chat-form-container{
    gap: 1.5rem;
    flex-direction: row;
    align-items: end;
  }
}


/* CHAT LIST */
.nia-chat-list{
  width: 100%;
}

.nia-chat-list-item{
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
  padding: 0px;
  display: grid;
}

.nia-chat-list-item pre{
  font-size: 1rem;
  overflow: visible;
  margin-bottom: 0px;
  line-height: 22px;
}

.nia-chat-list-item pre li{
  line-height: 24px;
}

.nia-chat-answer > div h3{
  margin-top: 1rem;
}

.nia-chat-answer div p:last-child, .nia-chat-answer div:last-child ol:last-child, .nia-chat-answer div:last-child ul:last-child,
.nia-chat-question div p:last-child, .nia-chat-question div:last-child ol:last-child, .nia-chat-question div:last-child ul:last-child{
  margin-bottom: 0px !important;
}

.nia-chat-list-q{
  display: flex;
  justify-self: right;
  background-color: white; /*rgba(0, 0, 0, 0.03)*/
  padding: 0px 16px 0px 16px;
  border-radius: 20px;
  justify-content: end;
  position: relative;
  flex-wrap: nowrap;
  font-size: 14px;
  color: rgba(0,0,0,8);
  gap: 16px;
  margin-left: 50px;
  z-index: 1;
}

.nia-chat-action{
  height: 32px;
  width: 32px;
  position: relative;
}

.nia-chat-action .nia-chat-action-btn{
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nia-chat-action .nia-chat-action-btn:hover{
  background-color: rgba(0, 0, 0, 0.07);
}

.nia-chat-action-btn img{
  height: 16px;
  width: 16px;
}

.nia-chat-action-list{
  position: absolute;
  top: 32px;
  right: 12px;
  background-color: #ededed;
  border-radius: 20px 0px 20px 20px;
  display: none;
}

.nia-chat-action:hover .nia-chat-action-list{
  display: block;
}

.nia-chat-action-list ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nia-chat-action-list ul li{
  padding: 8px 16px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  gap: 8px;
  line-height: 16px;
  align-items: center;
}

.nia-chat-action-list ul li img{
  height: 16px;
  width: 16px;
}

.nia-chat-action-list ul li:first-child{
  border-radius: 20px 0px 0px 0px;
}
.nia-chat-action-list ul li:last-child{
  border-radius: 0px 0px 20px 20px;
}

.nia-chat-action-list ul li:hover{
  background-color: #f4f4f4;
  color: #007BC0;
}

.nia-chat-action-list ul li:hover img{
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(90%) contrast(100%);
}

.nia-chat-question{
  line-height: 18px;
  padding: 8px;
  background-color: white;
}

.nia-chat-list-a{
  padding: 32px 0px;
  margin-right: 50px;
  display: flex;
  justify-self: start;
  align-items: start;
  gap: 16px;
  flex-wrap: nowrap;
  z-index: 0;
}

.nia-chat-profile{
  height: 32px;
  width: 32px;
  padding: 8px;
  line-height: 32px;
  border: 1px solid #1D64A8;
  background-color: #007BC0;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#FFFFFF;
  border-radius: 16px 0px 16px 16px;
  font-size: 10px;
}

.nia-chat-answer, .nia-chat-question{
  color: #646464;
}

.nia-chat-answer{
  background-color: white; /* #f4f9fd */
  padding: 16px 24px;
  border-radius: 16px;
}

.nia-chat-attachment{
  position: absolute;
  height: 32px;
  width: 32px;
  opacity: 0;
  filter: opacity(0);
  cursor: pointer;
}

.nia-chat-attachment ~ img{
  pointer-events: none;
  cursor: pointer;
}

.nia-config-options{
  font-size: 14px;
  padding:24px;
  background-color: white;
}

.nia-config-options label{
  padding: 0px;
  background: none;
  min-height: 16px;
  line-height: 16px;
  font-size: 12px;
  margin-top: 0px;
}



.nia-option-checkbox-container input, .nia-option-checkbox-container label{
  height: 24px;
}