/* Loader.css */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust based on your needs */
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: rgba(256,256,256,0.5);
  }
  
  .loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader-text {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    position: relative;
    animation: fade 1.5s infinite;
  }
  
  .loader-text::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid #3498db;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    top: -80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  @keyframes fade {
    0%, 100% {
      opacity: 0.4;
    }
    50% {
      opacity: 1;
    }
  }